<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mock Server / Route</title>
    <link href="https://fonts.googleapis.com/css?family=Oxygen:400,700" rel="stylesheet">
    <script src="/vendor/jsoneditor/jsoneditor.js"></script>
    <script src="/vendor/jsoneditor/jsoneditor.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/vendor/jsoneditor/jsoneditor.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/vendor/jsoneditor/jsoneditor.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/route-detail.css" />
</head>

<body>
    <div class="route-detail">
        <div class="route">
            <h1 class="name">
                {{route.name}}
            </h1>
            <h3 class="description">
                {{route.description}}
            </h3>
            <button id="save-button" class="save hidden">
                SAVE
            </button>
        </div>
        <div class="editor-container">
            <div id="payload-code"></div>
            <div id="payload-tree"></div>
        </div>
    </div>
    <script>

        var saveButton = document.getElementById('save-button');

        saveButton.addEventListener('click', () => {
            fetch('/').then(console.log)
            saveButton.classList.add('hidden')
        })

        // create the editor
        var containerCode = document.getElementById("payload-code");
        var containerTree = document.getElementById("payload-tree");
        var optionsCode = {
            mode: 'code',
            onChange: (value) => {
                try {
                    saveButton.classList.remove('hidden')
                    editorTree.set(editorCode.get())
                } catch(e) {}
            }
        };
        var optionsTree = {
            mode: 'tree',
            onChange: (value) => {
                try {
                    saveButton.classList.remove('hidden')
                    editorCode.set(editorTree.get())
                } catch(e) {}
            }
        };
        var editorCode = new JSONEditor(containerCode, optionsCode);
        var editorTree = new JSONEditor(containerTree, optionsTree);

        // set json
        var json = {{{json route.payload}}};
        editorTree.set(json);
        editorCode.set(json);

    </script>
</body>

</html>