html {
  font-family: 'Oxygen', sans-serif;
}

.page-workspaces {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1024px;
  margin: auto;
}

.workspaces-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.workspace {
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  margin: 8px;
  padding: 8px;
  transition: background-color .4s ease;
  width: 240px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.workspace:hover {
  background-color: #ffdd57;
  cursor: pointer;
}

.workspace h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.workspace i {
  position: absolute;
  top: 8px;
  right: 8px;
  transition: color .4s ease;
}

.workspace i:hover {
  color: rgb(214, 52, 12);
}

.no-ws {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-ws-title {
  margin-bottom: 16px;
}

.create-ws-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-ws-card {
  width: 300px;
  padding-top: 24px;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  padding: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.create-ws-card i.close:hover {
  color: rgb(214, 52, 12);
  cursor: pointer;
}

.create-ws-card i.close {
  position: absolute;
  top: 8px;
  right: 8px;
  transition: color .4s ease;
}

.create-ws-card h4 {
  margin-bottom: 16px;
}

.create-ws-card input {
  display: block;
  margin-bottom: 16px;
  padding: 8px;
  font-size: 1rem;
  width: 100%;
}

.create-ws-card button {
  justify-self: right;
}
.hidden {
  display: none;
}